<h3>Create a Token</h3>
<%= form_with model: @token do |form| %>
  <%= form.text_field :description, placeholder: "Description" %><br />
  <%= form.text_field :expiration, placeholder: "Expiration" %><br />
  <%= form.text_field :status, placeholder: "Status" %><br />
  <%= form.text_field :permission, placeholder: "Permission" %><br />

  <%= form.submit %>
<% end %>

<%= link_to "Index", tokens_path %>
